.dropSide-custom-select{
  border: 1px solid dodgerblue;
  border-radius: 4px;
  padding: 8px;
  width: inherit;
  background: white;
}

.dropSide-custom-select-arrow{

}

.dropSide-popup{
  border: 1px solid dodgerblue;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 12px 24px;
  min-width: 200px;
}

.dropSide-popup label {
  margin-bottom: 12px;
  margin-top: 12px;

}

.dropSide-popup input{
  display: block;
  border: 1px solid grey;
  margin: 0;
  padding: 8px;
  border-radius: 4px;
}

.dropSide-popup ul{
  list-style: none;
  max-height: 180px;
  overflow: auto;
  padding: 0;
}

.dropSide-popup li{
  margin-bottom: 12px;
}