.sidebar-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -256px;
  height: 100%;
  width: 320px;
  background-color: #393a70;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 2;
}


.sidebar-placeholder {
  height: 100%;
  width: 64px;
}

.sidebar-icon-holder-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar-icon-holder {
  height: 100%;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar-app {
  width: inherit;
}

.sidebar-overlay{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  background-color: #bfbfbf;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}